:root {
     --light: #fff;
     --dark: #000;
     --gray: rgb(120, 116, 116);
     --gray-border: rgb(207, 205, 205);
     --spacer: 1rem;
}

img {
     min-width: 100px;
     min-height: 100px;
}

body {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: sans-serif;
     overflow-x: hidden;
     background-color: white;

     color: black;
     font-size: 25px;
}


.container {
     margin: 0;
     /* Remove any default margin from the container */
}

nav.top-banner {
     margin: 0;
     box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
     top: 0;
     width: 100%;
     z-index: 1;
     background: var(--light);
     position: fixed;
     top: 0;
     left: 0;
     /* Remove any default margin from the nav element */
     /* Add border as before */
     /* Add shadow as before */

}


nav.top-banner h1 {
     display: inline-block;
     margin-right: 10px;
     margin-left: 20px;
     font-size: 20px;
     font-family: sans-serif;
     color: black;
     font-weight: 900;
     cursor: pointer;
}

nav.top-banner input {
     margin-right: 10px;
     font-size: 13px;
     border-radius: 10px;
     width: 100px;
     border: 1px solid var(--gray-border);
     margin-left: 5px;
     background-color: 0px 0px 14px rgba(0, 0, 0, 0.2);
     padding: 2px;
     /* Adjust the value as per your preference */
}

.top-banner a {
     color: #000;
}



nav.top-banner button {
     background-color: var(--light);
     border-radius: 5px;
     border: 1px solid var(--gray-border);
     padding: 3px;
     color: var(--gray);
     cursor: pointer;
     margin: 0 20px;
     font-size: 13px;
}

nav.top-banner span {
     color: #000;
}

.om-tiltel {
     margin: 20px 20px 0;
     border: 1px solid #000;
     border-radius: 10px;
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     align-items: center;
     gap: 10px;
     align-items: center;
     max-height: 160px;
     min-height: 160px;
     justify-content: center;
     background-color: #cbe6eb;
}



.om-tiltel .card {
     flex-grow: 1;
     display: inline-block;
     border-radius: 50%;
     font-size: 9px;
     padding: 0 18px;
     /* background-color: rgba(0, 131, 232, 0.1); */
     position: relative;
     color: #000;
     min-width: 30px;
     max-width: 30px;
     max-height: 30px;
     min-height: 30px;
}

.om-tiltel .card img {
     width: 1px;
     padding: 0;
     margin: 0;
     min-width: 40px;
     max-width: 40px;
     max-height: 40px;
     min-height: 40px;
     display: flex;
}





.om-tiltel .card:hover {
     cursor: pointer;

}

.om-tiltel a {
     padding: 0;
     margin: 0;
}

.om-tiltel .card p {
     font-size: 8px;
     margin: 0;
     text-align: center;
}

.subscription {
     margin: 20px;
     position: relative;
     padding: 10px 10px 4px;
     border-radius: 20px;
     border: 1px solid #000;
     background: linear-gradient(45deg, transparent, rgba(0, 255, 21, 0.087), transparent);

}

.subscription h6 {
     font-size: 13px;
     margin: 15px 10px 0;
     color: var(--dark);
}

.subscription p {
     font-size: 9px;
     color: black;
     margin: 5px 10px;
}

.subscription ul li:before {
     content: '✅';
     display: inline-block;
}

.subscription ul {
     padding: 0 10px;
}

.subscription ul li {
     font-size: 9px;
     color: black;
     margin: 5px 0;
     list-style-type: none;
}

.subscription button {
     position: absolute;
     top: 120px;
     right: 20px;
     padding: 5px;
     background-color: red;
     border: none;
     color: var(--light);
     border-radius: 15px;
     cursor: pointer;
}

.subscription .row {
     /* Set the parent container to use flexbox */
     display: flex;
     flex-wrap: wrap;
     /* Wrap the columns to the next line when necessary */
     justify-content: space-between;
     align-items: center;
     margin: 0;
     padding: 0 40px;
}

.subscription .row .col {
     margin-top: 0;

     text-align: center;
     border-radius: 10px;

}

.subscription .row .col h6 {
     font-size: 12px;
}


.testimonials {
     margin: 50px 20px;
     font-size: 12px;
}

.testimonials .comments {
     margin-top: 70px;
     padding: 20px;
     box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
     background: linear-gradient(to bottom, transparent, rgba(255, 0, 0, 0.105), transparent);
}

.testimonials .comments .img-container {
     width: 100px;
     /* Set the desired width of the container */
     height: 100px;
     /* Set the desired height of the container */
     overflow: hidden;
     border-radius: 50%;
     margin-right: 30px;
     /* Crop the image that overflows the container */
}

.testimonials .comments .img-container img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     /* Crop the image to fit the container */
}

.testimonials .comments .row {
     display: flex;
     flex-wrap: wrap;
}

.about {
     margin: 50px 20px 0px;
     font-size: 11px;
     line-height: 1.2;
     font-style: italic;
}

.extras {
     width: 50px;
     min-height: 40px;
     border-radius: 50%;
     background-color: #c9276b;
     position: fixed;
     z-index: 10;
     bottom: 10px;
     right: 10px;
     color: white;
     cursor: pointer;
}

.extras h1 {
     font-size: 20px;
     text-align: center;
}

.features {
     font-size: 15px;
}

.time-table {
     margin: 200px 20px 20px;
}

.time-table h4 {
     padding: 3px;
     border: 1px solid #a0bcc1;
     display: inline;
     border-radius: 3px;
}

span.collapse-bar {
     display: none;
}

.popup-window {
     display: none;
}

.popup-window ul li {
     list-style-type: none;
     padding: 1px 1px 2px 0;
}

.popup-window ul li a {
     text-decoration: none;
     color: var(--dark);
}

.popup-window ul li a:hover {
     text-decoration: underline;
}

.popup-window-all-courses {
     display: none;
}


.foot {
     color: #000;
     font-size: 13px;
}

footer {
     border-top: 0.7px solid black;

     margin: 50px 0px 60px;
     padding: 0 20px;
}

footer button {
     color: red;
     margin-top: 20px;
     border-radius: 10px;
     padding: 0 20px;
     font-size: 10px;
     background: #cbe6eb;
}

footer button h1 {
     font-weight: 800;
}

footer a {
     color: red;
}

footer .end p {
     opacity: 70%;
}

footer .end p:hover {
     opacity: 100%;
     cursor: pointer;
}

.copyright p {
     margin-top: 20px;
     margin-bottom: 10px;
     align-items: center;
     text-align: center;
}

footer ul li {
     list-style-type: none;
}

footer ul li a {
     color: black;
     opacity: 80%;
     text-decoration: none;
}

footer ul li a:hover {
     opacity: 100%;
}

.real-footer {
     position: fixed;
     margin: 0;
     padding: 0;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 60px;
     background: rgb(255, 255, 255);
     /* border-top: 1px solid white; */
     color: black;
     z-index: 1;
     box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);

}

.real-footer ul {
     display: flex;
     justify-content: space-evenly;
     padding-inline-start: 0;

}

.real-footer ul li {
     margin: 0;
     padding: 0;
     cursor: pointer;
     padding: 1px;
     border: 1px solid rgb(255, 255, 255);
     text-align: center;
}

a ion-icon {
     padding-left: 20px;
     text-decoration: none;
     color: #000;
}

ion-icon {
     font-size: 20px;
     text-align: center;
     display: inline-block;
}

/*  im[prtant */
.media-scroller {
     white-space: nowrap;
     display: grid;
     position: relative;
     gap: 20px;
     grid-auto-flow: column;
     overflow-x: auto;
     overscroll-behavior-inline: contain;
     padding: 0;
     margin: 20px 20px;
     max-height: 160px;
     overflow-y: hidden;
}

.media-element {
     display: inline-block;
     padding: 0;
     grid-template-rows: min-content;
     width: 340px;
     height: 140px;
     gap: 4px;
     font-size: 13px;
     overflow-y: hidden;
     vertical-align: top;
     transition: opacity 1s ease-in-out;

}

.media-element img {
     width: 340px;
     height: 140px;
     padding: 0;
}

.snaps-inline {
     scroll-snap-type: inline mandatory;
}

/* selecting all the direct children to snap */
.snaps-inline>* {
     scroll-snap-align: start;

}

.blogs {
     margin: 140px 0 40px;
     padding: 0px;
     position: relative;
     /* background-color: rgba(0, 81, 243, 0.095); */
     background: linear-gradient(to bottom, transparent, rgba(0, 106, 255, 0.105), transparent);
     font-size: 11px;
}

.blog-container {
     padding: 2px;
     font-size: 11px;
     width: 100%;
     position: fixed;
     background-color: #fff;
     color: #000;
     height: 100%;
     z-index: 1;
     top: 0;
     left: 0;
     overflow-y: scroll;
}

.blog-container img {
     width: 100%;
}

.blogs .card {

     padding: 0px;
     margin: 10px 0;
     cursor: pointer;
     display: flex;
     flex-direction: row;
     border-radius: 5px;
     gap: 10px;

}


.width {
     width: 100%;
}

.blogs .card img {
     width: 150px;
     height: 150px;
     border-radius: 3px;
}


.blogs p {
     font-size: 10px;
     text-align: left;
     word-spacing: 1px;
}

.blogs div {
     align-items: top;
}

.blogs div h3 {
     margin: 10px 0 20px;
}

.blogs h4 {
     margin: 0;
     padding: 0 10px;
     font-size: 16px;
     font-weight: 700;
     text-align: center;
}

.add-blog {
     position: absolute;
     top: 30px;
     right: 10px;
     background-color: #fff;
     border: none;
     color: #000;
     font-size: 25px;
     box-shadow: none;
     cursor: pointer;
     border-radius: 50%;
     width: 30px;
     height: 30px;
}

.content {

     position: relative;
}

.content p {
     margin: 15px 0 0;
     padding: 0;
     font-size: 11px;
     text-overflow: clip;
}

.read-more {
     display: inline-block;
     text-align: right;
     text-decoration: underline;
     color: white;
     font-size: 14px;
}


.blog-poster {
     width: 100%;
     height: 100%;
     position: fixed;
     top: 0px;
     background-color: #fff;
     color: #000;
     font-size: 12px;
     flex-direction: row;
     padding: 100px 10px;
}

.blog-poster .content-creator {
     display: contents;
     position: relative;
     top: 100px;
}

.blog-poster .content-creator input {
     width: 50%;
}

#blog-content {
     padding: 10px 0;
     margin: 10px 0 20px 0;
}

#blog-image {
     margin: 10px 0;
}


.blog-poster label {
     display: block;
     width: 50px;
     background: #504c4b;
     color: #fff;
     padding: 12px;
     border-radius: 5px;
     cursor: pointer;
     margin-bottom: 10px;
}

.blog-poster label:hover {
     background-color: #3c3c3c;
}


/* for the chat
 */

.chat-body {
     background-color: transparent;
     display: flex;
     justify-content: center;
     align-items: center;
     color: black;
     position: fixed;
     bottom: 50px;
     right: 10px;
}

.chat-container {
     width: 360px;
     height: 80vh;
     display: flex;
     flex-direction: column;
     box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
     background-color: dodgerblue;
}

.chat-container .header h1 {
     color: white;
     padding: 15px;
}

.message {
     background-color: dodgerblue;
     padding: 10px;
     color: white;
     width: fit-content;
     border-radius: 10px;
     margin-bottom: 10px;
}

.user-message {
     margin-left: auto;
     background-color: white;
     color: black;
     padding: 10px;
     width: fit-content;
     border-radius: 10px;
     margin-bottom: 10px;
}

.chat-container .footer form {
     display: flex;
}

.chat-container .footer form input {
     flex: 13;
     height: 40px;
     border: none;
     outline: none;
     padding-left: 5px;
     font-size: 16px;
}

.chat-container .footer form button {
     width: 100px;
     font-size: 18px;
     border: none;
     outline: none;
     background-color: dodgerblue;
     color: white;
     cursor: pointer;
}

.chat-container .footer form button:hover {
     background-color: blue;
     transition: 0.2s ease;
}




.hidden {
     display: none;
}

.group-a li,
.group-b li,
.group-c li {
     list-style: none;
}



.group-a li:before,
.group-b li:before,
.group-c li:before {
     content: '\2605';
     /* Unicode character for a solid star */
     color: yellow;
     display: inline-block;
     width: 1em;
     margin-left: -1em;
}

.group-exams {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     font-size: 10px;
     margin: 0 20px;
     border: 1px solid #000;
     position: relative;
     background-color: rgba(246, 255, 0, 0.303);
     box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
     /* Use your background image URL here */
     /* Custom property for backdrop-filter (experimental) */
     border-radius: 10px;
     padding: 10px;
     color: black;
}

.group-exams h6 {
     text-align: left;
     font-size: 11px;
     padding-left: 30px;
}

.group-exams li {
     padding-bottom: 10px;
     cursor: pointer;

}

.group-exams li a {

     color: black;

}

.EXAMS {
     margin: 30px 5px 10px;
     color: red;
}

.subscription .items {
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     padding-left: 8px;
     justify-content: center;
     color: white;
     gap: 10px;
     padding-top: 4px;
     position: relative;
}

.subscription .items .card {
     width: 20px;
     height: 20px;
     border-radius: 50%;
     background-color: red;
     position: relative;
     justify-content: center;
     display: flex;
     text-align: center;
     position: relative;
}

.items .card p {
     color: #000;
     font-size: 7px;
     text-align: center;
     cursor: pointer
}

.items .card {
     padding: 10px;
}


.subscription a {
     text-decoration: none;
     color: #fff;
     text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

header {
     padding: 20px;
}

.top-banner button a {
     text-decoration: none;
     color: none;
     background-color: transparent;
     border: none;
}

.top-banner button a:hover {
     background-color: #fff;
     color: #000;
     border: none;
}



/* Add a media query for smaller screens, such as phones */
@media screen and (max-width: 767px) {
     body {
          padding: 0;
     }

     nav.top-banner button {
          margin: 0 5px 10px;

     }

     span.collapse-bar {


          display: inline-block;
          cursor: pointer;
     }

     .popup-window {
          font-size: 15px;
          position: fixed;
          z-index: 10;
          left: 2px;
          top: 50px;
          border: 1px solid #d4cece;
          background: var(--light);
          display: block;
          padding: 0 10px 0 0;
     }

     .popup-window-all-courses {
          font-size: 15px;
          position: fixed;
          left: 110px;
          top: 120px;
          display: block;
          cursor: pointer;
          border: 1px solid #a0bcc1;
          padding: 10px;
          z-index: 20;
          background: var(--light);
     }

     .popup-window-all-courses ul li {
          list-style-type: disc;
     }

     .popup-window-all-courses ul li:hover {
          text-decoration: underline;
     }

     .popup-window-all-courses ul li a {
          text-decoration: none;
          color: var(--dark);

     }

     .hidden {
          display: none;
     }

     .for-phone-buttons {
          display: inline-block;
          margin-top: 70px;
          font-size: 10px;
          padding: 0 20px;

     }



     .col {
          max-width: 100%;
          /* Make the columns take full width on smaller screens */
     }

     .om-tiltel {

          align-items: center;
          margin-top: 80px;
     }

     .group-exams h6 {
          text-align: center;
          padding: 0;
     }

     .blogs .card img {
          width: 50%;
          height: 50%;
          border-radius: 3px;
          max-width: 100px;
     }
}