:root {
     --light: #fff;
     --dark: #000;
     --gray: rgb(120, 116, 116);
     --gray-border: rgb(207, 205, 205);
     --spacer: 1rem;
}

body {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: sans-serif;
     overflow-x: hidden;
     background-color: rgb(122, 122, 239);
     color: white;
     font-size: 25px;
}


.container {
     margin: 0;
     /* Remove any default margin from the container */
}

nav.top-banner {
     margin: 0;

     top: 0;
     width: 100%;
     z-index: 1;
     background: var(--light);
     /* Remove any default margin from the nav element */
     border-bottom: 1px solid #f00000;
     /* Add border as before */
     /* Add shadow as before */

}


nav.top-banner h1 {
     display: inline-block;
     margin-right: 10px;
     margin-left: 20px;
     font-size: 20px;
     font-family: sans-serif;
     color: black;
     font-weight: 900;
     cursor: pointer;
}

nav.top-banner input {
     margin-right: 10px;
     font-size: 13px;
     border-radius: 10px;
     width: 100px;
     border: 1px solid var(--gray-border);
     margin-left: 5px;
     background-color: 0px 0px 14px rgba(0, 0, 0, 0.2);
     padding: 2px;
     /* Adjust the value as per your preference */
}

nav.top-banner button:hover {
     color: #fff;
}

nav.top-banner button {
     background-color: var(--light);
     border-radius: 5px;
     border: 1px solid var(--gray-border);
     padding: 3px;
     color: var(--gray);
     cursor: pointer;
     margin: 0 20px;
     font-size: 13px;
}

nav.top-banner span {
     color: #000;
}

.om-tiltel {
     display: grid;
     grid-template-columns: repeat(8, 1fr);
     padding: 10px;
     margin: 30px auto 0;
     gap: 10px;
     align-items: center;
}

.om-tiltel .card {
     flex-grow: 1;
     display: inline-block;
     border-radius: 10px;
     font-size: 10px;
     padding: 10px;
     background-color: #fff;
     color: #000;
     min-width: 50px;
     max-width: 50px;
     max-height: 50px;
     min-height: 50px;
     box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.523);
}

.om-tiltel .card:hover {
     box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.328);
     cursor: pointer;

}

.om-tiltel .card p {
     border-right: 1px solid rgb(0, 0, 0);
}

.subscription {
     margin: 20px;
     position: relative;
     background: linear-gradient(to right, rgb(255, 115, 143), rgb(244, 217, 217));
     padding: 1px 10px 10px;
     border-radius: 30px;
}

.subscription h6 {
     font-size: 13px;
     color: var(--dark);
}

.subscription p {
     font-size: 12px;
     color: black;
}

.subscription button {
     position: absolute;
     top: 40px;
     right: 20px;
     padding: 5px;
     background-color: red;
     border: none;
     color: var(--light);
     border-radius: 15px;
     cursor: pointer;
}

.subscription .row {
     /* Set the parent container to use flexbox */
     display: flex;
     flex-wrap: wrap;
     /* Wrap the columns to the next line when necessary */
     justify-content: space-between;
     align-items: center;
}

.subscription .row .col {
     margin-top: 10px;
     background-color: var(--light);
     min-width: 30%;
     max-width: 30%;
     text-align: center;
     border-radius: 10px;
}

.testimonials {
     margin: 50px 20px;
     font-size: 12px;
}

.testimonials .comments {
     margin-top: 70px;
     padding: 20px;
     box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.1);
}

.testimonials .comments .img-container {
     width: 100px;
     /* Set the desired width of the container */
     height: 100px;
     /* Set the desired height of the container */
     overflow: hidden;
     border-radius: 50%;
     margin-right: 30px;
     /* Crop the image that overflows the container */
}

.testimonials .comments .img-container img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     /* Crop the image to fit the container */
}

.testimonials .comments .row {
     display: flex;
     flex-wrap: wrap;
}

.about {
     margin: 50px 20px 0px;
     font-size: 11px;
     line-height: 1.2;
     font-style: italic;
}

.extras {
     width: 50px;
     min-height: 40px;
     border-radius: 50%;
     background-color: #c9276b;
     position: fixed;
     z-index: 10;
     bottom: 10px;
     right: 10px;
     color: white;
     cursor: pointer;
}

.extras h1 {
     font-size: 20px;
     text-align: center;
}

.features {
     font-size: 15px;
}

.time-table {
     margin: 200px 20px 20px;
}

.time-table h4 {
     padding: 3px;
     border: 1px solid #a0bcc1;
     display: inline;
     border-radius: 3px;
}

span.collapse-bar {
     display: none;
}

.popup-window {
     display: none;
}

.popup-window ul li {
     list-style-type: none;
     padding: 1px 1px 2px 0;
}

.popup-window ul li a {
     text-decoration: none;
     color: var(--dark);
}

.popup-window ul li a:hover {
     text-decoration: underline;
}

.popup-window-all-courses {
     display: none;
}


.foot {
     color: #fff;
     font-size: 13px;
}

footer {
     border-top: 0.7px solid white;

     margin: 50px 0px 60px;
     padding: 0 20px;
}

footer button {
     color: red;
     margin-top: 20px;
     border-radius: 10px;
     padding: 0 20px;
     font-size: 10px;
     background: #cbe6eb;
}

footer button h1 {
     font-weight: 800;
}

footer a {
     color: red;
}

footer .end p {
     opacity: 70%;
}

footer .end p:hover {
     opacity: 100%;
     cursor: pointer;
}

.copyright p {
     margin-top: 20px;
     margin-bottom: 10px;
     align-items: center;
     text-align: center;
}

footer ul li {
     list-style-type: none;
}

footer ul li a {
     color: white;
     opacity: 80%;
     text-decoration: none;
}

footer ul li a:hover {
     opacity: 100%;
}

.real-footer {
     position: fixed;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 50px;
     background: rgb(122, 122, 239);
     /* border-top: 1px solid white; */
     color: #000;
}

.real-footer ul {
     display: flex;
     flex-direction: row;
     gap: 10px;
}

.real-footer ul li {
     cursor: pointer;
     padding: 1px;
     border: 1px solid rgb(255, 255, 255);
}

/*  im[prtant */
.media-scroller {
     display: grid;
     gap: 10px;
     grid-auto-flow: column;

     overflow-x: auto;
     overscroll-behavior-inline: contain;
     padding: 0 0 0 5px;
     margin: 30px 0px 0;
     overflow-y: hidden;

}



.media-element {
     display: grid;
     padding: 0;
     grid-template-rows: min-content;
     width: 300px;
     gap: 4px;
     border: 1px solid #fff;
     border-radius: 10px;
     box-shadow: 1px 1px 1px rgb(254, 254, 254);
     font-size: 13px;
     max-height: 330px;
     overflow-y: hidden;
}

.media-element img {
     width: 100%;
     height: 180px;
     overflow: hidden;
}

.snaps-inline {
     scroll-snap-type: inline mandatory;
     scroll-padding-inline: var(--spacer, 1rem);
}

/* selecting all the direct children to snap */
.snaps-inline>* {
     scroll-snap-align: start;

}

.blogs {
     margin-top: 100px;
     padding: 10px;
     border-top: 2px solid red;
     border-bottom: 2px solid red;
     position: relative;
}

.blogs .card {
     border: 2px solid limegreen;
     padding: 10px;
     margin: 10px;
     display: flex;
     gap: 10px;
}

.blogs .card .img-container {
     min-height: 100px;
     min-width: 100px;
     max-height: 100px;
     overflow: hidden;
     max-width: 100px;
}

.width {
     width: 100%;
}

.blogs .card img {
     width: 100%;
}

.blogs p {
     font-size: 13px;
     text-align: left;
     word-spacing: 1px;
}

.blogs div {
     align-items: center;
}

.blogs h4 {
     padding: 0 10px;
}

.add-blog {
     position: absolute;
     top: 30px;
     right: 10px;
     background-color: #fff;
     border: none;
     color: #000;
     font-size: 25px;
     box-shadow: none;
     cursor: pointer;
     border-radius: 50%;
     width: 30px;
     height: 30px;
}

.content {
     max-height: 3em;
     /* Adjust this to show a few lines of text */
     overflow: hidden;
     position: relative;
}

.content p {
     margin: 10px 0 0 0;
     padding: 0;
     overflow: hidden;
     text-overflow: clip;
     display: -webkit-box;
     -webkit-line-clamp: 2;
     /* Show two lines of text */
     -webkit-box-orient: vertical;
}

.read-more {
     display: inline-block;
     text-align: right;
     text-decoration: underline;
     color: white;
     font-size: 14px;
}


.blog-poster {
     min-height: 700px;
     min-width: 50%;
     max-width: 70%;
     background-color: #403f3f;
     position: fixed;
     top: 100px;
     background-image: url(images/INDIAN\ ARMY.jpeg);
     flex-direction: column;
     padding: 100px 10px;
}

.blog-poster .content-creator {
     display: contents;
     position: relative;
     top: 100px;
}

.blog-poster .content-creator input {
     width: 50%;
}

#blog-content {
     padding: 10px 0;
     margin: 10px 0 20px 0;
}

#blog-image {
     margin: 10px 0;
}


.blog-poster label {
     display: block;
     width: 50px;
     background: #504c4b;
     color: #fff;
     padding: 12px;
     border-radius: 5px;
     cursor: pointer;
     margin-bottom: 10px;
}

.blog-poster label:hover {
     background-color: #3c3c3c;
}


/* for the chat
 */

.chat-body {
     background-color: transparent;
     display: flex;
     justify-content: center;
     align-items: center;
     color: black;
     position: fixed;
     bottom: 50px;
     right: 10px;
}

.chat-container {
     width: 360px;
     height: 80vh;
     display: flex;
     flex-direction: column;
     box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
     background-color: dodgerblue;
}

.chat-container .header h1 {
     color: white;
     padding: 15px;
}

.message {
     background-color: dodgerblue;
     padding: 10px;
     color: white;
     width: fit-content;
     border-radius: 10px;
     margin-bottom: 10px;
}

.user-message {
     margin-left: auto;
     background-color: white;
     color: black;
     padding: 10px;
     width: fit-content;
     border-radius: 10px;
     margin-bottom: 10px;
}

.chat-container .footer form {
     display: flex;
}

.chat-container .footer form input {
     flex: 13;
     height: 40px;
     border: none;
     outline: none;
     padding-left: 5px;
     font-size: 16px;
}

.chat-container .footer form button {
     width: 100px;
     font-size: 18px;
     border: none;
     outline: none;
     background-color: dodgerblue;
     color: white;
     cursor: pointer;
}

.chat-container .footer form button:hover {
     background-color: blue;
     transition: 0.2s ease;
}

.chat-container .body {
     flex: 1;
     color: white;
     background-color: rgba(0, 0, 0, 0.7);
     padding: 20px 30px;
}



.hidden {
     display: none;
}

.group-a li,
.group-b li,
.group-c li {
     list-style: none;
}

.group-a li:before,
.group-b li:before,
.group-c li:before {
     content: '\2605';
     /* Unicode character for a solid star */
     color: yellow;
     display: inline-block;
     width: 1em;
     margin-left: -1em;
}

.group-exams {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     font-size: 10px;
     margin: 0 5px;
     border: 1px solid #fff;
     position: relative;
     background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
     /* Use your background image URL here */
     /* Custom property for backdrop-filter (experimental) */
     border-radius: 10px;
     padding: 20px;
     color: white;
}

.group-exams h6 {
     text-align: left;
     font-size: 11px;
     padding-left: 30px;
}

.group-exams li {
     padding-bottom: 10px;
     cursor: pointer;
}

.group-exams li a {

     color: #fff;

}

.EXAMS {
     margin: 30px 5px 10px;
     color: red;
}

.subscription .items {
     display: flex;
     justify-content: center;
     color: white;
     gap: 10px;
     padding-top: 4px;
}

.subscription .items .card {
     width: 30px;
     height: 30px;
     border-radius: 50%;
     background-color: red;
     position: relative;
}

.items .card p {
     color: #000;
     font-size: 10px;
     text-align: center;
     cursor: pointer
}

.items .card {
     padding: 10px;
}


.subscription a {
     text-decoration: none;
     color: #fff;
     text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

header {
     padding: 20px;
}

.top-banner button a {
     text-decoration: none;
     color: none;
     background-color: transparent;
     border: none;
}

.top-banner button a:hover {
     background-color: #fff;
     color: #000;
     border: none;
}

/* Add a media query for smaller screens, such as phones */
@media screen and (max-width: 767px) {
     body {
          padding: 0;
     }

     nav.top-banner button {
          margin: 0 5px 10px;

     }

     span.collapse-bar {


          display: inline-block;
          cursor: pointer;
     }

     .popup-window {
          font-size: 15px;
          position: fixed;
          z-index: 10;
          left: 2px;
          top: 50px;
          border: 1px solid #d4cece;
          background: var(--light);
          display: block;
          padding: 0 10px 0 0;
     }

     .popup-window-all-courses {
          font-size: 15px;
          position: fixed;
          left: 110px;
          top: 120px;
          display: block;
          cursor: pointer;
          border: 1px solid #a0bcc1;
          padding: 10px;
          z-index: 20;
          background: var(--light);
     }

     .popup-window-all-courses ul li {
          list-style-type: disc;
     }

     .popup-window-all-courses ul li:hover {
          text-decoration: underline;
     }

     .popup-window-all-courses ul li a {
          text-decoration: none;
          color: var(--dark);

     }

     .hidden {
          display: none;
     }

     .for-phone-buttons {
          display: inline-block;
          margin-top: 70px;
          font-size: 10px;
          padding: 0 20px;

     }



     .col {
          max-width: 100%;
          /* Make the columns take full width on smaller screens */
     }

     .om-tiltel {
          grid-template-columns: repeat(3, 1fr);
          padding-left: 40px;
          align-items: center;

     }

     .group-exams h6 {
          text-align: center;
          padding: 0;
     }
}