:root {
          --light: #000;
          --dark: #fff;
          --gray: rgb(120, 116, 116);
          --gray-border: rgb(207, 205, 205);
          --spacer: 1rem;
}

body {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-family: sans-serif;
          overflow-x: hidden;
          background-color: #fff;
          color: #000;
}

.hidden {
          display: none;
}

.card-holder {
          margin: 40px 10px 10px;
          display: flex;
          flex-direction: column;
          gap: 20px;
}

.card {
          border: 1px solid #fff;
          background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
          /* Create a gradient with varying opacities */
          backdrop-filter: blur(10px);
          /* Apply a blur effect */
          border-radius: 10px;
          /* Rounded corners */
          padding: 20px;
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.card h3 {
          font-size: 16px;

}

.card li {
          list-style: none;
          cursor: pointer;

          text-decoration: underline;
          padding-bottom: 10px;
}

.card li:before {
          content: '\2605';
          color: yellow;
          display: inline-block;
          width: 1em;
          margin-left: -1em;
}

.leaderboard {
          width: 300px;
          margin: 0 auto;
}

.leaderboard-item {
          display: flex;
          justify-content: space-between;
          padding: 5px;
          border-bottom: 1px solid #ccc;
}

.not-available {

          text-decoration: underline;
}

.newsUl a {
          text-decoration: none;
          color: #000;
}


.group-a li,
.group-b li,
.group-c li {
          list-style: none;
}



.group-a li:before,
.group-b li:before,
.group-c li:before {
          content: '\2605';
          /* Unicode character for a solid star */
          color: yellow;
          display: inline-block;
          width: 1em;
          margin-left: -1em;
}

.group-exams {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          font-size: 10px;
          margin: 0 20px;
          border: 1px solid #000;
          position: relative;
          background-color: rgba(246, 255, 0, 0.303);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
          /* Use your background image URL here */
          /* Custom property for backdrop-filter (experimental) */
          border-radius: 10px;
          padding: 10px;
          color: black;
}

.group-exams h6 {
          text-align: left;
          font-size: 11px;
          padding-left: 30px;
}

.group-exams li {
          padding-bottom: 10px;
          cursor: pointer;

}

.group-exams li a {

          color: black;

}

.EXAMS {
          margin: 30px 20px 10px;
          color: red;
}