:root {
          --light: #000;
          --dark: #fff;
          --gray: rgb(120, 116, 116);
          --gray-border: rgb(207, 205, 205);
          --spacer: 1rem;
}

body {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-family: sans-serif;
          overflow-x: hidden;
          background-color: rgb(122, 122, 239);
          color: rgb(224, 224, 224);
}

.card-holder {
          margin: 40px 10px 10px;
          display: flex;
          flex-direction: column;
          gap: 20px;
}

.card {
          border: 1px solid #fff;
          background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
          /* Create a gradient with varying opacities */
          backdrop-filter: blur(10px);
          /* Apply a blur effect */
          border-radius: 10px;
          /* Rounded corners */
          padding: 20px;
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.card h3 {
          font-size: 16px;

}

.card li {
          list-style: none;
          cursor: pointer;

          text-decoration: underline;
          padding-bottom: 10px;
}

.card li:before {
          content: '\2605';
          color: yellow;
          display: inline-block;
          width: 1em;
          margin-left: -1em;
}